<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.firebase.ml.cloud.ApiKeyForDebug"
            android:value="@string/debug_api_key" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="${mlkit_vision_dependencies}" />
    </application>

</manifest>